extends ../layouts/pages
block append head
	block title
		- var title='Home'; // Page title

block content
	.container
		h1 Home Page new!
		form(name='test' netlify)
			input(name='name')
			button(type=submit') submit
